@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');

* {
     font-family: 'Poppins', sans-serif;
     color: #515286;
}


body {
	margin: 0;
}

 .frmcls {
     margin:10px auto;
     max-width: 400px;
     padding: 20px 12px 10px 20px;
     font-size: 13px;
}
 .frmcls li {
     padding: 0;
     display: block;
     list-style: none;
     margin: 10px 0 0 0;
}
 .frmcls label{
     margin:0 0 3px 0;
     padding:0px;
     display:block;
     font-weight: 600;
     font-size: 14px;
     padding-top: 10px;
     padding-bottom: 5px;
}
 .frmcls input[type=text], .frmcls input[type=date], .frmcls input[type=datetime], .frmcls input[type=number], .frmcls input[type=search], .frmcls input[type=time], .frmcls input[type=url], .frmcls input[type=email], textarea, select{
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     background-color: transparent;
     color: #262768;
     height: 46px;
     border: 1px solid #e7e8f8;
     padding: 0 15px;
     border-radius: 4px;
     width: 100%;
     -webkit-transition: all 0.30s ease-in-out;
     -moz-transition: all 0.30s ease-in-out;
     -ms-transition: all 0.30s ease-in-out;
     -o-transition: all 0.30s ease-in-out;
     outline: none;
}
 .frmcls input[type=text]:focus, .frmcls input[type=date]:focus, .frmcls input[type=datetime]:focus, .frmcls input[type=number]:focus, .frmcls input[type=search]:focus, .frmcls input[type=time]:focus, .frmcls input[type=url]:focus, .frmcls input[type=email]:focus, .frmcls textarea:focus, .frmcls select:focus{
     border: 1px solid #515286;
}
 .frmcls .field-divided{
     width: 49% !important;
}
 .frmcls .field-long{
     width: 100%;
}
 .frmcls .field-select{
     width: 100%;
}
 .frmcls .field-textarea{
     height: 100px;
}
 .frmcls input[type=submit], .frmcls input[type=button]{
     background-color: #505bcf;
     background-image: linear-gradient(90deg, #505bcf 1%, #628ce7 64%, #73bdfe 100%);
     padding: 15px 35px;
     font-size: 14px;
     text-transform: uppercase;
     color: #fff;
     display: inline-block;
     border-radius: 4px;
     border: 0;
     cursor: pointer transition: 0.5s ease;
}
 .frmcls input[type=submit]:hover, .frmcls input[type=button]:hover{
     background: #505bcf;
}
 .frmcls .required{
     color:red;
}
 .success {
     color:#00C851;
     font-weight:normal !important;
}
 .error {
     color:#ff4444;
     font-weight:normal !important;
}
 #showData table{
     border-collapse: collapse;
     width: 100%;
     font-size: 12px;
}
 #showData table td, #showData table th {
     padding: 8px;
}
 #showData table tr:nth-child(even){
    background-color: #f6f7fd;
}
 #showData table tr:hover {
    background-color: #ddd;
}
 .menu {
     list-style-type: none;
     margin: 0;
     padding: 0;
     background-color: #505bcf;
	 background-image: url('../images/navbar-bg.jpg');
	 background-size: cover;
	 background-repeat: no-repeat;
	 overflow: hidden;
}

.menu-container {
	width: 1170px;
	max-width: 100%;
	margin: 0 auto;
}
 .menu li a {
     display: block;
     padding: 8px 16px;
     text-decoration: none;
}
 .menu li a.active {
     position: relative;
	 color: #fff;   
}

.menu li a.active:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: #fff;
	bottom: -16px;
	left: 0;
	right: 0;
	margin: 0 auto;
	
}


 .menu li a:hover:not(.active) {
     color: #fff;
}
 #showData th {
     background-color: #515286;
     color: #fff;
     vertical-align: middle;
     text-align: left;
     padding-left: 20px;
     height: 46px;
     font-weight: 400;
}
 #showData tr {
     height: 50px;
     font-size: 13px;
}

.showdata-container {
	
}

.vanig-logo img {
	width: 145px; 
}

.vanig-logo {
	padding: 15px 14px 0;
    margin: 0;
	display: inline-block;
    vertical-align: middle;
	float: left;
}


.menu ul {
	list-style: none;
	padding-left: 0;
	display: inline-block;
	float: right;
	    margin: 10px 0;
}

.menu li a {
	color: rgba(255, 255, 255, 0.6);
}

.menu li {
	display: inline-block;
}

.visit-store {
	background-color: #505bcf;
	margin-left: 30px;
	    border-radius: 30px;
    background-color: #fff;
    color: #73bdfe !important;
    font-size: 14px;
    padding: 11px 24px !important;
    font-weight: 600;
}


.welcome-message {
    text-align: center;
}

.welcome-message h3 {
    font-size: 24px;
}
